<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="traintimingapp.planet.it.limited.mymehedidesign">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AllListActivity" />
        <activity android:name=".activities.EidDesignActivity" />
        <activity android:name=".activities.WeedingDesignActivity" />
        <activity android:name=".activities.HandDesignActivity" />
        <activity android:name=".activities.FullImageViewActivity" />
        <activity android:name=".activities.LegDesignActivity" />
        <activity android:name=".activities.LatestDesignActivity" />
        <activity android:name=".activities.MainActivity"></activity>
    </application>

</manifest>